@import "../../styles/index.scss";

.Face {
  @include borders;
  @include buttons;
  font-size: 32px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
